---
Checks:
  - '-*'
  - 'abseil-*'
  - 'bugprone-*'
  - 'cert-dcl58-cpp'
  - 'cert-err34-c'
  - 'cert-err52-cpp'
  - 'cert-err60-cpp'
  - 'cert-flp30-c'
  - 'cert-msc50-cpp'
  - 'cert-msc51-cpp'
  - 'cert-str34-c'
  - 'cppcoreguidelines-*'
  - 'google-default-arguments'
  - 'google-runtime-operator'
  - 'hicpp-exception-baseclass'
  - 'hicpp-multiway-paths-covered'
  - 'llvm-*'
  - 'misc-*'
  - 'modernize-*'
  - 'mpi-buffer-deref'
  - 'mpi-type-mismatch'
  - 'openmp-use-default-none'
  - 'performance-*'
  - 'portability-simd-intrinsics'
  - 'readability-*'
  # Disable some checks that are too strict, annoying or irrelevant
  - '-cppcoreguidelines-avoid-const-or-ref-data-members'
  - '-cppcoreguidelines-avoid-do-while'
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-cppcoreguidelines-avoid-non-const-global-variables'
  - '-cppcoreguidelines-non-private-member-variables-in-classes'
  - '-cppcoreguidelines-owning-memory'
  - '-cppcoreguidelines-pro-bounds-avoid-unchecked-container-access'
  - '-cppcoreguidelines-pro-bounds-constant-array-index'
  - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
  - '-cppcoreguidelines-pro-type-reinterpret-cast'
  - '-cppcoreguidelines-pro-type-union-access'
  - '-cppcoreguidelines-pro-type-vararg'
  - '-llvm-header-guard'
  - '-llvm-prefer-static-over-anonymous-namespace'
  - '-misc-no-recursion'
  - '-misc-non-private-member-variables-in-classes'
  - '-modernize-use-trailing-return-type'   # Kind of annoying for simple functions, although useful for complex return types
  - '-readability-braces-around-statements' # For simple if(x) return; statements, braces are just annoying
  - '-readability-identifier-length'        # Short names like "idx" are totally fine
  - '-readability-implicit-bool-conversion' # Checking pointers for null using if(ptr) is perfectly readable and common
  - '-readability-magic-numbers'            # Triggers for trivial constants way too often
  # To check:
  - '-bugprone-easily-swappable-parameters'
  - '-readability-math-missing-parentheses'
  - '-readability-redundant-preprocessor'
  - '-readability-uppercase-literal-suffix'