[submodule "external/SDL_Crossplatform_Local"]
	path = external/SDL_Crossplatform_Local
	url = https://github.com/lbastigk/SDL_Crossplatform_Local.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/tinyexpr"]
	path = external/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "external/abseil"]
	path = external/abseil
	url = https://github.com/abseil/abseil-cpp.git