# Ignore everything inside the _LIBS directory
_LIBS/

# Ignore changes in the game files
GameName/

# Ignore segment for graphics Creation, for now
GraphicsCreation/

# Ignore vs files
.vs/

# Ignore all .exe files
*.exe

# Ignore all Debug and Release folders
**/Debug/
**/Release/
