# Ignore builds inside external directory
external/SDL2_build/
external/qt5_build/

# Ignore game resources and error logs
*.bmp
*.png
*.jpeg
*.zip
*.ttf
*log.txt

# Ignore binaries
Application/bin/

# Ignore dlls
*.dll

# Ignore segment for graphics Creation, for now
GraphicsCreation/

# Ignore vs files
.vs/

# Ignore all .exe files
*.exe

# Ignore all Debug and Release folders
**/Debug/
**/Release/

# ignore build directories
**/build/

# ignore cmake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ignore license file
*License.txt