# Ignore SDL Build
external/SDL2_build/

# Ignore created data
Application/*.data.old
Application/*.data
*.o



# Ignore game resources and error logs
Application/Resources/Sprites/
*.bmp
*.png
*.jpeg
*.zip
*.ttf
*.log.txt
*.log
*.log.json
Application/Resources/Fonts/* 
Application/errors.log  

# Ignore binaries
Application/bin/

# Ignore dlls
*.dll

# Ignore vs files
.vs/

# Ignore all .exe files
*.exe

# ignore build directories
**/build/

# ignore cmake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile



