[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/tinyexpr"]
	path = external/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "external/abseil"]
	path = external/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "external/SDL3_image"]
	path = external/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/SDL3_ttf"]
	path = external/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
